.imgPrincipal{
    margin-top: 80px;
    max-width: 100%;
    height: auto;
}

.circular {

    margin: auto;
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }

  h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, sans-serif; 
   }

 